body {
  background-color: #F0F0F7;
}

hr {
  color: #32264D;
}

label {
  color: #747279;
}

legend {
  color: #32264D;
}

.header {
  background-color: #32264D;
  color: white;
  padding: 30px;
  text-align: center;
  width: 100%;
}

.form-bg-color {
  background-color: white;
  border: 1px solid #E6E6F0;
}

.input-bg-color {
  background-color: #FAFAFC;
  border: 1px solid #E6E6F0;
  border-radius: 8px;
}

.container {
  border-radius: 8px;
}

.btn-submit {
  background-color: #04D361;
  color: white;
}

.btn-submit:hover {
  background-color: #04BF58;
  color: white;
}
