#container {
  margin: 0 auto;
  width: 100%;
  background: #fff;
}

#header {
  background: #ccc;
  padding: 20px;
}

#header h1 {
  margin: 0;
}

#navigation {
  float: left;
  width: 100%;
  background: #333;
}

#navigation ul {
  margin: 0;
  padding: 0;
}

#navigation ul li {
  list-style-type: none;
  display: inline;
}

#navigation li a {
  display: block;
  float: left;
  padding: 5px 10px;
  color: #fff;
  text-decoration: none;
  border-right: 1px solid #fff;
}

#navigation li a:hover {
  background: #383;
}

#content-container {
  background: #FFF;
}

#content {
  clear: left;
  float: left;
  width: 60%;
  padding: 20px 0;
  margin: 0 0 0 4%;
  display: inline;
}

#content h2 {
  margin: 0;
}

#aside {
  float: right;
  width: 33%;
  padding: 20px 0;
  margin: 0 3% 0 0;
  display: inline;
}

#aside h3 {
  margin: 0;
}

#footer {
  clear: left;
  background: #ccc;
  text-align: right;
  padding: 20px;
  height: 1%;
}

@media screen and (max-width: 425px) {
  body {
    margin: 0;
    padding: 0;
  }

  #header {
    position: fixed;
    width: 100%;
  }

  #navigation ul {
    display: flex;
    flex-direction: column;
    margin-top: 77px;
    width: 100%;
  }

  #navigation ul li a {
    border: none;
  }

  #content-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }

  #content-container #content {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    width: 90%;
  }

  #content-container #content img {
    width: 100%;
  }

  #aside {
    display: none;
  }
}

@media print {

  #header,
  #navigation,
  #footer {
    display: none;
  }

  #content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}