html {
  box-sizing: border-box;
}
*, *:before, *:after {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
}

.container {
  background-color: #f1f1f1;
}

header {
  display: flex;
  height: 60px;
}

/* MEDIA QUERIE | TABLET | 425px */

@media screen and (max-width: 425px) {

  header {
    align-items: center;
    background: #264653;
    justify-content: center;
  }

  header p {
    color: #e9c46a;
    font-family: 'Alice', sans-serif;
    font-size: 2rem;
    text-align: center;
    width: 70%;
  }

  header nav {
    display: none;
  }

  .asides-container {
    margin: 2rem;
  }

  .aside-one, .aside-two {
    border-bottom: 2px solid rgb(216, 216, 216);
    margin-bottom: 2rem;
  }

  .aside-one h2, .aside-two h2 {
    display: inline;
    color: rgba(0, 0, 0, 0.8);
    font-size: 2.2rem;
  }

  .aside-one ul, .aside-two ul {
    list-style: none;
    margin: 0;
    margin-bottom: 2rem;
  }

  .aside-one ul li, .aside-two ul li {
    font-size: 1.8rem;
    line-height: 1.5;
  }

  .main-content {
    margin: 0 2rem;
  }

  .main-content .title {
    border-bottom: 2px solid rgb(216, 216, 216);
    margin: 2rem 0;
  }

  .main-content h1 {
    color: rgba(0, 0, 0, 0.8);
    font-size: 2.6rem;
    margin: 2rem auto;
    text-align: center;
    width: 70%;
  }

  .chapter i {
    font-size: 1.8rem;
  }

  .main-content p {
    font-size: 1.8rem;
    line-height: 1.3;
    padding-bottom: 1rem;
  }

  footer {
    background: #264653;
    color: #f1f1f1;
    margin: 2rem 0 0;
    padding: 2rem;
  }

  footer h3 {
    font-size: 2rem;
  }

  footer p {
    font-size: 1.8rem;
    margin-top: 1rem;
  }
}


/* MEDIA QUERIE | TABLET | 768px */

@media screen and (max-width: 768px) {
  header {
    align-items: center;
    background: #264653;
    height: 9rem;
    justify-content: space-around;
    width: 100%;
  }

  header p {
    color: #e9c46a;
    font-family: 'Alice', sans-serif;
    font-size: 2.6rem;
  }

  header nav ul {
    display: flex;
    list-style: none;
    gap: 2rem;
  }

  header nav ul li a {
    color: #f1f1f1;
    font-family: 'Alice', sans-serif;
    font-size: 2.2rem;
    text-decoration: none;
  }

  .asides-container {
    display: flex;
    justify-content: space-between;
    margin: 2rem;
  }

  .divider {
    background-color: rgb(216, 216, 216);
    height: 350px;
    width: 2px;
  }

  .aside-one h2, .aside-two h2 {
    display: inline;
    color: rgba(0, 0, 0, 0.8);
    font-size: 2.2rem;
  }

  .aside-one ul, .aside-two ul {
    list-style: none;
    margin: 0;
    margin-bottom: 2rem;
  }

  .aside-one ul li, .aside-two ul li {
    font-size: 1.8rem;
    line-height: 1.5;
  }

  .main-content {
    margin: 0 2rem;
  }

  .main-content .title {
    margin: 2rem 0;
  }

  .main-content h1 {
    color: rgba(0, 0, 0, 0.8);
    font-size: 2.6rem;
    margin: 2rem auto;
    text-align: center;
    width: 70%;
  }

  .title {
    border-top: 2px solid rgb(216, 216, 216);
  }

  .chapter i {
    font-size: 1.8rem;
  }

  .main-content p {
    font-size: 1.8rem;
    line-height: 1.3;
    padding-bottom: 1rem;
  }

  footer {
    background: #264653;
    color: #f1f1f1;
    margin: 2rem 0 0;
    padding: 2rem;
  }

  footer h3 {
    font-size: 2rem;
  }

  footer p {
    font-size: 1.8rem;
    margin-top: 1rem;
  }
}

