.main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  text-align: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 70%;
}

.pokemon {
  border: 3px solid rgb(0, 0, 0);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  margin: 20px;
  padding: 20px;
  width: 300px;
}